<div class="hailstone">
  <mat-card class="filters-card">
    <mat-card-header>
      <mat-card-title>Select positive integer for Hailstone series: </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="number" min="0" [(ngModel)]="a" (keyup)="changeA()" (change)="changeA()">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onApply()">Apply</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="result-card">
    <app-common-spinner *ngIf="isLoading"></app-common-spinner>
    <app-error-message *ngIf="error" [error]="error"></app-error-message>
    <mat-card-header>
      <mat-card-title>Total Stopping Time: f({{ a }}) = {{ totalStoppingTime }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
