div.mat-elevation-z8 {
  transition: none !important;
  box-shadow: none !important;
  min-height: 536px;
  width: 100%;
  height: 100%;
  overflow-x: auto;

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table {
    min-width: 800px;
    width: 100%;

    th {
      text-transform: uppercase;
    }

    tr:hover {
      cursor: pointer;
      background-color: #eee;
    }
  }
}
