<div class="instruments-table">
  <mat-card class="filters-card">
    <mat-card-header>
      <mat-card-title>Filters</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-checkbox matInput
        [(ngModel)]="openOnly"
        (change)="changeOpenOnly()">open only
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
  <mat-card class="table-card">
    <app-common-spinner *ngIf="isLoading"></app-common-spinner>
    <app-error-message *ngIf="error" [error]="error"></app-error-message>
    <app-common-table
      [displayedColumns]="displayedColumns"
      [dataSource]="dataSource">
    </app-common-table>
    <app-common-paginator
      [length]="pageEvent.length"
      [pageSize]="pageEvent.pageSize"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="changePage($event)">
    </app-common-paginator>
  </mat-card>
</div>
